<%- include('head.ejs') %>
<div class="d-flex flex-column justify-content-center">

    <div class="d-flex justify-content-center gap-4 mb-4">
        <button class="btn btn-dark" onclick="window.location.href='/home'">Ir a Home</button>
        <input class="form-control" type="text" style="width: 40rem;" placeholder="Ingrese el nombre de un artículo">
    </div>

    <div class="bg-success d-flex justify-content-center mb-4">
        <p class="text-center text-white p-2 mt-2">¡Tu satisfacción, es nuestra Prioridad! :) - Envíos a todo el Pais</p>
    </div>
</div>