<%- include('head') %>
<div class="card__articulo justify-content-center d-flex flex-column m-2 p-4">
    <img src="icons/imagen_wireframe.svg" class="align-self-center">
    <p>Producto</p>
    <p>Descripción simple del producto en tarjeta, al entrar a la seccion del producto vera mas info</p>

    <div class="d-flex flex-row justify-content-end gap-2">
        <p class="fw-bold text-success">Price</p>
        <p class="fw-normal">$100</p>
    </div>

    <button class="btn btn-dark align-self-center">Agregar al carrito</button>
</div>
</body>