<div class="card__articulo m-3 p-5">

    <a href="/descripcion" style="text-decoration: none; color: inherit;">

        <div class="img_card">
            <img src="<%= producto.url %>">
        </div>
        
        <p class="categoria"><span style="font-weight: bold;">Categoria: </span><%= producto.categoria %></p>

        <p><%= producto.nombre %></p>
        <div class="d-flex flex-row justify-content-end gap-2">
            <p class="fw-bold text-success">Precio</p>
            <p class="fw-normal">$<%= producto.precio %></p>
        </div>

    </a>

    <div class=" d-flex flex-column justify-content-center align-self-center">
        <a href="/descripcion" class="btn_card_ver align-self-center">Ver</a>
        <a href="#" class="btn_card_carrito align-self-center mt-3">Agregar al carrito</a>
    </div>
    
</div>