<section class="compras">
    <a href="/" class="back-compras">
        <i class="bi bi-arrow-left-circle"></i>
        <span>Volver</span>
    </a>
    <div class="sec-compras">
        <div class="cuerpo-compras">
            <div class="msg-compras">
                <span>Compras que has realizado en la plataforma</span>
                <i class="bi bi-caret-down-fill"></i>
            </div>
            <div class="items-compras">
                <div class="marco-compras">
                    <div class="marco-compras-interior">
                        <span>Articulos</span>
                        <div class="marco-compras-interior-notitulo">
                            <div class="marco-comprasLineas">
                                <div class="marco-compras-linea">
                                    <img src="./img/no-image.jpg" alt="no encontrado">
                                    <span class="marco-compras-linea-detalle">x5 Silla roble cocina</span>
                                    <span class="marco-compras-linea-subtotal">$3.000</span>
                                </div>
                                <div class="marco-compras-linea">
                                    <img src="./img/no-image.jpg" alt="no encontrado">
                                    <span class="marco-compras-linea-detalle">1 Modular Stuiden roble</span>
                                    <span class="marco-compras-linea-subtotal">$22.000</span>
                                </div>
                                <div class="marco-compras-linea">
                                    <img src="./img/no-image.jpg" alt="no encontrado">
                                    <span class="marco-compras-linea-detalle">x2 Sillon mupex algodon</span>
                                    <span class="marco-compras-linea-subtotal">$17.000</span>
                                </div>
                                <div class="marco-compras-linea">
                                    <img src="./img/no-image.jpg" alt="no encontrado">
                                    <span class="marco-compras-linea-detalle">x2 Sillon mupex algodon</span>
                                    <span class="marco-compras-linea-subtotal">$17.000</span>
                                </div>
                            </div>
                            <span>Fecha de Compra 27 / Abril / 2023</span>
                            <div class="marco-compras-importe">
                                <span>Monto:</span>
                                <p>$71.000</p>
                            </div>
                        </div>
                    </div>
                </div>

























                <div class="marco-compras">
                    <div class="marco-compras-interior">
                        <span>Articulos</span>
                        <div class="marco-compras-interior-notitulo">
                            <div class="marco-comprasLineas">
                                <div class="marco-compras-linea">
                                    <img src="./img/no-image.jpg" alt="no encontrado">
                                    <span class="marco-compras-linea-detalle">x5 Silla roble cocina</span>
                                    <span class="marco-compras-linea-subtotal">$3.000</span>
                                </div>
                            </div>
                            <span>Fecha de Compra 27 / Abril / 2023</span>
                            <div class="marco-compras-importe">
                                <span>Monto:</span>
                                <p>$71.000</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="marco-compras">
                    <div class="marco-compras-interior">
                        <span>Articulos</span>
                        <div class="marco-compras-interior-notitulo">
                            <div class="marco-comprasLineas">
                                <div class="marco-compras-linea">
                                    <img src="./img/no-image.jpg" alt="no encontrado">
                                    <span class="marco-compras-linea-detalle">x5 Silla roble cocina</span>
                                    <span class="marco-compras-linea-subtotal">$3.000</span>
                                </div>
                                <div class="marco-compras-linea">
                                    <img src="./img/no-image.jpg" alt="no encontrado">
                                    <span class="marco-compras-linea-detalle">1 Modular Stuiden roble</span>
                                    <span class="marco-compras-linea-subtotal">$22.000</span>
                                </div>
                                <div class="marco-compras-linea">
                                    <img src="./img/no-image.jpg" alt="no encontrado">
                                    <span class="marco-compras-linea-detalle">x2 Sillon mupex algodon</span>
                                    <span class="marco-compras-linea-subtotal">$17.000</span>
                                </div>
                                <div class="marco-compras-linea">
                                    <img src="./img/no-image.jpg" alt="no encontrado">
                                    <span class="marco-compras-linea-detalle">x2 Sillon mupex algodon</span>
                                    <span class="marco-compras-linea-subtotal">$17.000</span>
                                </div>
                            </div>
                            <span>Fecha de Compra 27 / Abril / 2023</span>
                            <div class="marco-compras-importe">
                                <span>Monto:</span>
                                <p>$71.000</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="marco-compras">
                    <div class="marco-compras-interior">
                        <span>Articulos</span>
                        <div class="marco-compras-interior-notitulo">
                            <div class="marco-comprasLineas">
                                <div class="marco-compras-linea">
                                    <img src="./img/no-image.jpg" alt="no encontrado">
                                    <span class="marco-compras-linea-detalle">x5 Silla roble cocina</span>
                                    <span class="marco-compras-linea-subtotal">$3.000</span>
                                </div>
                                <div class="marco-compras-linea">
                                    <img src="./img/no-image.jpg" alt="no encontrado">
                                    <span class="marco-compras-linea-detalle">1 Modular Stuiden roble</span>
                                    <span class="marco-compras-linea-subtotal">$22.000</span>
                                </div>
                            </div>
                            <span>Fecha de Compra 27 / Abril / 2023</span>
                            <div class="marco-compras-importe">
                                <span>Monto:</span>
                                <p>$71.000</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


















        </div>
        <%- include('../partials/terminos') %>
    </div>
</section>