<%- include('head.ejs') %>
<section class="favoritos">
    <a href="/" class="back-favs">
        <i class="bi bi-arrow-left-circle"></i>
        <span>Volver</span>
    </a>
    <div class="cuerpo-favs">
        <div class="msg-favs">
            <span>Favoritos</span>
            <i class="bi bi-caret-down-fill"></i>
        </div>
        <div class="items-favs">

            <div class="producto-marco">
                <i class="bi bi-x-circle"></i>
                <div class="contenido-marco">
                    <span class="producto-titulo">Producto</span>
                    <div class="producto-detalle">
                        <img src="../../img/no-image.jpg" height="64" width="64" alt="no encontrado">
                        <p>Descripcion no tan larga del producto, pero nombrando lo fundamental</p>
                    </div>
                    <span class="producto-categoria">Categoria: Sala de estar</span>
                    <button class="ver-producto">Ver Articulo</button>
                </div>
            </div>





            <div class="producto-marco">
                <i class="bi bi-x-circle"></i>
                <div class="contenido-marco">
                    <span class="producto-titulo">Producto</span>
                    <div class="producto-detalle">
                        <img src="../../public/img/no-image.jpg" height="64" width="64" alt="no encontrado">
                        <p>Descripcion no tan larga del producto, pero nombrando lo fundamental</p>
                    </div>
                    <span class="producto-categoria">Categoria: Sala de estar</span>
                    <button class="ver-producto">Ver Articulo</button>
                </div>
            </div>
            <div class="producto-marco">
                <i class="bi bi-x-circle"></i>
                <div class="contenido-marco">
                    <span class="producto-titulo">Producto</span>
                    <div class="producto-detalle">
                        <img src="../../public/img/no-image.jpg" height="64" width="64" alt="no encontrado">
                        <p>Descripcion no tan larga del producto, pero nombrando lo fundamental</p>
                    </div>
                    <span class="producto-categoria">Categoria: Sala de estar</span>
                    <button class="ver-producto">Ver Articulo</button>
                </div>
            </div>
            <div class="producto-marco">
                <i class="bi bi-x-circle"></i>
                <div class="contenido-marco">
                    <span class="producto-titulo">Producto</span>
                    <div class="producto-detalle">
                        <img src="../../public/img/no-image.jpg" height="64" width="64" alt="no encontrado">
                        <p>Descripcion no tan larga del producto, pero nombrando lo fundamental</p>
                    </div>
                    <span class="producto-categoria">Categoria: Sala de estar</span>
                    <button class="ver-producto">Ver Articulo</button>
                </div>
            </div>
            <div class="producto-marco">
                <i class="bi bi-x-circle"></i>
                <div class="contenido-marco">
                    <span class="producto-titulo">Producto</span>
                    <div class="producto-detalle">
                        <img src="../../public/img/no-image.jpg" height="64" width="64" alt="no encontrado">
                        <p>Descripcion no tan larga del producto, pero nombrando lo fundamental</p>
                    </div>
                    <span class="producto-categoria">Categoria: Sala de estar</span>
                    <button class="ver-producto">Ver Articulo</button>
                </div>
            </div>
            <div class="producto-marco">
                <i class="bi bi-x-circle"></i>
                <div class="contenido-marco">
                    <span class="producto-titulo">Producto</span>
                    <div class="producto-detalle">
                        <img src="../../public/img/no-image.jpg" height="64" width="64" alt="no encontrado">
                        <p>Descripcion no tan larga del producto, pero nombrando lo fundamental</p>
                    </div>
                    <span class="producto-categoria">Categoria: Sala de estar</span>
                    <button class="ver-producto">Ver Articulo</button>
                </div>
            </div>
            <div class="producto-marco">
                <i class="bi bi-x-circle"></i>
                <div class="contenido-marco">
                    <span class="producto-titulo">Producto</span>
                    <div class="producto-detalle">
                        <img src="../../public/img/no-image.jpg" height="64" width="64" alt="no encontrado">
                        <p>Descripcion no tan larga del producto, pero nombrando lo fundamental</p>
                    </div>
                    <span class="producto-categoria">Categoria: Sala de estar</span>
                    <button class="ver-producto">Ver Articulo</button>
                </div>
            </div>



        </div>
        <%- include('../partials/terminos') %>
    </div>
</section>
</body>