<footer>
    <div class="footer-lr">
        <div class="footer-left">
            <h2>Furniture</h2>
            <p>Lorem ipsum dolor sit amet consectetur. id ornare morbi feugiat lectus sapien</p>
        </div>
        <div class="footer-right">
            <div class="footer-menu">
                <a href="/">Home</a>
                <a href="/comprar">Shop</a>
                <a href="/acerca">About</a>
                <a href="/ofertas">Offers</a>
                <a href="/blogs">Blogs</a>
            </div>
            <p>Sign up for our newsletter</p>
            <div class="footer-newsletter">
                <input type="text" class="footer-newsletter-input" placeholder="Your Email Address">
                <input type="submit" class="footer-newsletter-button" value="Join Now">
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>All rights reserved uline @2023</p>
    </div>
</footer>
</body>

</html>