<<<<<<< HEAD
<section class="promotion">
    <img class="promotion-img" src="./img/nathan-fertig-FBXuXp57eM0-unsplash.png" alt="">
    <div class="promotion-img-txt">
        <p class="promotion-img-txt-title">Get Discount For Our Membership</p>
        <p class="promotion-img-txt-p">New member will get 20% discount for the first purchase</p>
        <a class="promotion-button" href="">Join Now</a>
    </div>
</section>
<footer>
    <div class="footer-lr">
=======
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>

<footer class="d-flex flex-column">
    <div class="d-flex flex-row justify-content-center">
>>>>>>> master
        <div class="footer-left">
            <h2>Furniture</h2>
            <p>Lorem ipsum dolor sit amet consectetur. id ornare morbi feugiat lectus sapien</p>
        </div>
<<<<<<< HEAD
        <div class="footer-right">
            <div class="footer-menu">
                <a href="">Home</a>
                <a href="">Shop</a>
                <a href="">About</a>
                <a href="">Offers</a>
                <a href="">Blogs</a>
            </div>
            <p>Sign up for our newsletter</p>
=======

        <div class="d-flex flex-column mb-3">
            <div class="d-flex flex-row gap-3 justify-content-center">
                <a class="links__footer" href="">Home</a>
                <a class="links__footer" href="">Shop</a>
                <a class="links__footer" href="">About</a>
                <a class="links__footer" href="">Offers</a>
                <a class="links__footer" href="">Blogs</a>
            </div>
            <p class="text-center">Sign up for our newsletter</p>
>>>>>>> master
            <div class="footer-newsletter">
                <input type="text" class="footer-newsletter-input" placeholder="Your Email Address">
                <input type="submit" class="footer-newsletter-button" value="Join Now">
            </div>
        </div>
    </div>
<<<<<<< HEAD
    <div class="footer-copyright">
        <p>All rights reserved uline @2023</p>
    </div>
</footer>
</body>

</html>
=======

    <div class="footer__copyright align-self-center">
        <p class="text-center">All rights reserved uline @2023</p>
    </div>
</footer>
>>>>>>> master
