<%- include('head.ejs') %>
<footer class="footer">
    <div class="footer-lr">
        <div class="footer-left">
            <h2>Furniture</h2>
            <p>Trabajamos duro pero también nos aseguramos de celebrar cada éxito. Las personas son el mayor activo.</p>
        </div>
        <div class="footer-right">
            <div class="footer-menu">
                <a href="">Inicio</a>
                <a href="">Shop</a>
                <a href="">Nosotros</a>
                <a href="">Ofertas</a>
                <a href="">Soporte</a>
            </div>
            <p>Únete a nuestro newsletter</p>
            <div class="footer-newsletter">
                <input type="text" class="footer-newsletter-input" placeholder="Correo electrónico"/>
                <input type="submit" class="footer-newsletter-button" value="Contáctanos"/>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>Todos los derechos reservados @2023</p>
    </div>
</footer>
</body>
