<%- include('head') %>
<footer>
    <div className="footer-lr">
        <div className="footer-left">
            <h2>Furniture</h2>
            <p>Lorem ipsum dolor sit amet consectetur. id ornare morbi feugiat lectus sapien</p>
        </div>
        <div className="footer-right">
            <div className="footer-menu">
                <a href="">Home</a>
                <a href="">Shop</a>
                <a href="">About</a>
                <a href="">Offers</a>
                <a href="">Blogs</a>
            </div>
            <p>Sign up for our newsletter</p>
            <div className="footer-newsletter">
                <input type="text" className="footer-newsletter-input" placeholder="Your Email Address"/>
                <input type="submit" className="footer-newsletter-button" value="Join Now"/>
            </div>
        </div>
    </div>
    <div className="footer-copyright">
        <p>All rights reserved uline @2023</p>
    </div>
</footer>
</body>
