<%- include('head.ejs') %>
<div class="Header">
    <div class="ContenedorTexto">
        <div class="Titulo">
            <h1>Muebles de diseño</h1>
            <h1>Pensados para ti</h1>
            <p>Te damos la bienvenida a un espacio pensado por y para los amantes del diseño y la decoración. Una plataforma en la que encontrarás un amplio catálogo de muebles modernos y accesorios de decoración exclusivos.</p>
        </div>
        <div class="botones">
            <button>Shop Now</button>
            <a href="#" class="video"><div class="playicon"><i class="bi bi-play-fill play"></i></div>Video</a>
        </div>
        <div class="seguidores">
            <div class="seguidor">
                <h1 class="Numseguidor">150+</h1>
                <h2 class="Nombreseguidor">Muebles</h2>
            </div>
            <div class="line">
                <hr class="v-line"/>
            </div>
            <div class="seguidor">
                <h1 class="Numseguidor">100+</h1>
                <h2 class="Nombreseguidor">Clientes</h2>
            </div>
        </div>
    </div>
    <div class="ContenedorImagenes">
        <img src='../../img/SillonPequeño.jpg' alt="Sillon" class="Sillon"/>
        <img src='../../img/MesaSillaPequeña.jpg' alt="MesaSilla" class="MesaSilla"/>
    </div>
</div>
</body>