<%- include('head.ejs') %>
<div class="Header">
    <div class="ContenedorTexto">
        <div class="Titulo">
            <h1>Furniture Style</h1>
            <h1>For Future</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti voluptas itaque libero soluta nobis natus numquam asperiores laudantium provident eaque! Enim optio porro, architecto quidem modi corrupti temporibus quos officia.</p>
        </div>
        <div class="botones">
            <button>Get Started</button>
            <a href="#" class="video"><div class="playicon"><i class="bi bi-play-fill play"></i></div>What video</a>
        </div>
        <div class="seguidores">
            <div class="seguidor">
                <h1 class="Numseguidor">150+</h1>
                <h2 class="Nombreseguidor">Furnitures</h2>
            </div>
            <div class="line">
                <hr class="v-line"/>
            </div>
            <div class="seguidor">
                <h1 class="Numseguidor">100+</h1>
                <h2 class="Nombreseguidor">Customer</h2>
            </div>
        </div>
    </div>
    <div class="ContenedorImagenes">
        <img src='../../img/SillonPequeño.jpg' alt="Sillon" class="Sillon"/>
        <img src='../../img/MesaSillaPequeña.jpg' alt="MesaSilla" class="MesaSilla"/>
    </div>
</div>
</body>