<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>

<header class=".bg-light d-flex justify-content-between px-5 mb-5">
    <div>
    <h1>Furniture</h1>
    </div>

    <div class="d-flex gap-4">
        <a class="text-dark text-decoration-none d-flex align-items-center justify-content-center" href="#">Productos</a>
        <a class="text-dark text-decoration-none d-flex align-items-center justify-content-center" href="#">Contacto</a>
        <a class="text-dark text-decoration-none d-flex align-items-center justify-content-center" href="#">¿Quienes somos?</a>
    </div>

    <div w-8 h-2 class="d-flex gap-4">
    <img src="/icons/carrito_icon_header.svg">
    <img src="/icons/linea_separador_icon_header.svg">
    <img src="/icons/user_icon_header.svg">
    </div>
</header>