<%- include('head.ejs') %>   
    <div class="Navbar">
        <h1>Furniture</h1>
        <div class="navbarmenu">
            <a href="/">Inicio</a>
            <a href="/articulos">Articulos</a>
            <a href="#">Quienes Somos</a>
        </div>
        <div class="navbaricono">
            <a href="#"><i class="bi bi-person"></i></a>
            <hr class="v-line"/>
            <a href="#"><i class="bi bi-cart3"></i></a>
        </div>
        <div class="navbarhamburger">
            <button id="btnmenu"><i class="bi bi-list hamburguesa"></i></button> 
        </div>
    </div>

    <div class="menuhamburguesa" id="_itemshamburguesa">
        <div class="IconosMenuHamburguesa">
            <div class="IconoMenuHamburguesa">
                <a href="#" class="IconoPerson"><i class="bi bi-person"></i></a>
                <h2>Account</h2>
            </div>

            <hr class="v-line"/>
            
            <div class="IconoMenuHamburguesa">
                <a href="#"  class="IconoShop"><i class="bi bi-cart3"></i></a>
                <h2>Shop</h2>
            </div>
        </div>
        <div class="BotonesMenuHamburguesa">
            <a href="#" class="BotonesHamburguesa">Products</a>
            <a href="#" class="BotonesHamburguesa">Contact</a>
            <a href="#" class="BotonesHamburguesa">Term and Conditions</a>
        </div>
    </div> 

   
   

    <script>
        btnmenu.onclick = () =>{
            _itemshamburguesa.classList.toggle("open")

        }
    
    </script>
        
</body>