<%- include('head.ejs') %>
    <div class="Navbar">
        <h1>Furniture</h1>
        <div class="navbarmenu">
            <a href="/">Inicio</a>
            <a href="/articulos">Articulos</a>
            <a href="/quienesSomos">Quienes Somos</a>
            <a href="/contacto">Contacto</a>
        </div>

        <div class="navbaricono">
            <a href="/login"><i class="bi bi-person"></i></a>
            <hr class="v-line"/>
            <a href="/carrito"><i class="bi bi-cart3"></i></a>
        </div>

        <div class="navbarhamburger">
            <button id="btnmenu"><i class="bi bi-list hamburguesa"></i></button>
        </div>
    </div>

    <div class="menuhamburguesa" id="_itemshamburguesa">
        <div class="IconosMenuHamburguesa">
            <div class="IconoMenuHamburguesa">
                <a href="/contacto" class="IconoPerson"><i class="bi bi-person"></i></a>
                <h2>Cuenta</h2>
            </div>
            <hr class="v-line" />
            <div class="IconoMenuHamburguesa">
                <a href="/carrito" class="IconoShop"><i class="bi bi-cart3"></i></a>
                <h2>Shop</h2>
            </div>
        </div>
        <div class="BotonesMenuHamburguesa">
            <a href="/" class="BotonesHamburguesa">Furniture</a>
            <a href="/articulos" class="BotonesHamburguesa">Productos</a>
            <a href="/quienesSomos" class="BotonesHamburguesa">Quienes somos</a>
        </div>
    </div>




    <script>
        btnmenu.onclick = () => {
            _itemshamburguesa.classList.toggle("open")

        }

    </script>

    </body>