<%- include('head.ejs') %>   
    <div class="Navbar">
        <h1>Furniture</h1>
        <div class="navbarmenu">
            <a href="/">Inicio</a>
            <a href="/articulos">Articulos</a>
            <a href="#">Quienes Somos</a>
        </div>

        <div class="navbaricono">
            <a href="#"><i class="bi bi-person"></i></a>
            <hr class="v-line"/>
            <a href="/carrito"><i class="bi bi-cart3"></i></a>
        </div>

        <div class="navbarhamburger">
            <a href="#"><i class="bi bi-list hamburguesa"></i></a>
        </div>
    </div>
</body>