<%- include('head.ejs') %>

<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <h2 class="centro">Productos destacados</h2>



      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">

          <div class="card shadow-sm">
            <img src="../../img/estanteria_cristal_destacada.png"/>

            <div class="card-body">
              <p class="card-text">
                Modular Cristalero Aparador 1.20 Con Vidrios Colocados

            </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="/articulos/"><button type="button" class="btn btn-sm btn-outline-secondary">Ver m치s productos</button></a>
                </div>
                <small class="text-body-secondary">Producto destacado</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../../img/estanteria_hierro_destacada.png" />
            <div class="card-body">
              <p class="card-text">Bliblioteca estanteria de madera maciza tipo araucaira. Hierro de Estructura ca침o.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="/articulos/"><button type="button" class="btn btn-sm btn-outline-secondary">Ver m치s productos</button></a>
                </div>
                <small class="text-body-secondary">Producto destacado</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../../img/mesa_ratona_destacada.png"/>
            <div class="card-body">
              <p class="card-text">Mesa ratona hierro y madera
                rectangular
                80cm x 40cm x 40cm alto</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/articulos/"><button type="button" class="btn btn-sm btn-outline-secondary">Ver m치s productos</button></a>
                </div>
                <small class="text-body-secondary">Producto destacado</small>
              </div>
            </div>
          </div>
        </div>

       
       
       

       
      
      

      </div>
    </div>
  </div>

</body>