<%- include('head.ejs') %>

<div class="OurGallery">        
    <div class="inicio2">
        <h2 class="centro">Nuestra Galeria</h2>
    </div>
    <section class="inicio2">
        <hr/>
        <div class="columna-4">
            <button class="accordion"><strong>Sofa</strong></button>
            <div class="panel">
                <p>Sofa</p>
            </div>
            <button class="accordion"><strong>Mesa ratona</strong></button>
            <div class="panel">
                <p>Mesa ratona</p>
               
            </div>
            <button class="accordion"><strong>Cajonera</strong></button>
            <div class="panel">
                <p>Cajonera</p>
              
            </div>
            <button class="accordion"><strong>Mesa de comedor</strong></button>
            <div class="panel">
                <p>Mesa de comedor</p>
                
            </div>
            <button class="accordion"><strong>Armario</strong></button>
            <div class="panel">
                <p>Armario</p>
                
            </div>
        </div>
        <div class="columna-3b">
            <img class="ourgallerydisplay" src="../../img/sillon_gris_esquinero.jpg" alt="ourgallery" class="ourgallerymobile" width="80%" />
        </div>
    </section>
    <div class="columna-3b">
        <img class="ourgallerymobiledisplay" src="../../img/sillon_gris_esquinero.jpg"/>
    </div>
</div>
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  });
}
</script>

</body>