<%- include('head.ejs') %>
<div class="espacio"></div>
<section class="promotion">         
    <div class="promotion-img-txt">
        <p class="promotion-img-txt-title">Descuentos para suscriptores</p>
        <p class="promotion-img-txt-p">Disfruta de un 20% de descuento suscribiendote a nuestra newsletter.</p>
        <a class="promotion-button" href="">Join Now</a>
    </div>
</section>
<div class="espacio"></div>
</body>