<%- include('head') %>

<div className="espacio"></div>
<section className="promotion">         
    <div className="promotion-img-txt">
        <p className="promotion-img-txt-title">Get Discount For Our Membership</p>
        <p className="promotion-img-txt-p">New member will get 20% discount for the first purchase</p>
        <a className="promotion-button" href="">Join Now</a>
    </div>
</section>
</body>