<div class="SectionBenefits">
    <section class="centro benefitsmobile ">
        <h2 class="centro">Beneficios adicionales para usted</h2>
        <p class="centro">Te ofrecemos los mejores beneficios disponibles en el mercado <br/>para garantizar el mejor servicio de venta</p>
    </section>
    <section class="inicio centro circlemobile">
    <article class="columna-3 benefitsmobile">
        <img src='../../icons/icon.png' alt="Icon1" class="Icon1" />
        <h3>Producto de calidad</h3>
        <p>La mejor calidad garantizada realizada por nuestros especialistas
        </p> 
    </article>
    <article class="columna-3 benefitsmobile">
        <img src='../../icons/Icon_2.png' alt="Icon2" class="Icon2" />
        <h3>Compras gratis y rapidas</h3>
        <p>El servicio más rapido de entrega<br> desde nuestros locales a la puerta de tu casa
    </p>                
    </article>
    <article class="columna-3 benefitsmobile">
        <img src='../../icons/Icon_3.png' alt="Icon3" class="Icon3" />
        <h3>Soporte 24 hs</h3>
        <p>Por cualquier duda te podes comunicar con nuestros asesores
        </p> 
    </article>
    </section>
    <section class="circlemobile1 centro">
        <img src='../../icons/icon.png' alt="Icon1" class="Icon1" />
        <h3>Producto de calidad</h3>
        <p>La mejor calidad garantizada<br> realizada por nuestros especialistas
        </p> 
        <img src='../../icons/Icon_2.png' alt="Icon2" class="Icon2" />
        <h3>Compras gratis y rapidas</h3>
        <p>El servicio más rapido de entrega<br> desde nuestros locales a la puerta de tu casa
        </p>        
        <img src='../../icons/Icon_3.png' alt="Icon3" class="Icon3" />
        <h3>Soporte 24 hs</h3>
        <p>Por cualquier duda te podes comunicar con nuestros asesores
        </p> 
    </section>
</div>
    
</body>