

<div class="SectionBenefits">
    <section class="centro benefitsmobile">
        <h2 class="centro">Benefits Further For You</h2>
        <p class="centro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br/>Nam tincidunt laoreet sem sed pretium. Integer cursus nunc</p>
    </section>
    <section class="inicio centro circlemobile">
    <article class="columna-3 benefitsmobile">
        <img src='../../icons/icon.png' alt="Icon1" class="Icon1" />
        <h3>Quality product</h3>
        <p>Lorem ipsum dolor sit amet,<br/> consectetur id ornare
        </p> 
    </article>
    <article class="columna-3 benefitsmobile">
        <img src='../../icons/Icon_2.png' alt="Icon2" class="Icon2" />
        <h3>Free & Fast Shoping</h3>
        <p>Lorem ipsum dolor sit amet,<br/> consectetur id ornare
        </p>        
    </article>
    <article class="columna-3 benefitsmobile">
        <img src='../../icons/Icon_3.png' alt="Icon3" class="Icon3" />
        <h3>24/4 Support</h3>
        <p>Lorem ipsum dolor sit amet,<br/> consectetur id ornare
        </p> 
    </article>
    </section>
    <section class="circlemobile1 centro">
        <img src='../../icons/icon.png' alt="Icon1" class="Icon1" />
        <h3>Quality product</h3>
        <p>Lorem ipsum dolor sit amet,<br/> consectetur id ornare
        </p> 
        <img src='../../icons/Icon_2.png' alt="Icon2" class="Icon2" />
        <h3>Free & Fast Shoping</h3>
        <p>Lorem ipsum dolor sit amet,<br/> consectetur id ornare
        </p>        
        <img src='../../icons/Icon_3.png' alt="Icon3" class="Icon3" />
        <h3>24/4 Support</h3>
        <p>Lorem ipsum dolor sit amet,<br/> consectetur id ornare
        </p> 
    </section>
</div>
    
</body>