
<%- include('head.ejs') %>
<div class="ModernFurniture">
    <h1>Muebles de estilo</h1>
    <div class="contenedorModernFurniture">
        <div class="NavSearchdiv">
            <ul class="nav">
                <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/articulos">Sillas</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/articulos">Camas</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/articulos">Sofas</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/articulos">Mesas</a>
                </li>
            </ul>
            <a href="/articulos" class="link-viewall">Ver mas</a>
        </div>
    <div class="contenedorcard">
        <a href="/articulos" class="card" style="width: 15rem">
            <img src="../../img/SillaModernFurniture.jpg" class="card-img-top" alt="...">    
                <div class="card-body contenedorcardtexto">
                </div>
        </a>   
        <a href="/articulos" class="card" style="width: 15rem">
            <img src="../../img/CamaModernFurniture.jpg" class="card-img-top" alt="...">    
                <div class="card-body contenedorcardtexto">
                </div>
        </a> 
        <a href="/articulos" class="card" style="width: 15rem">
            <img src="../../img/SofaModernFurniture.jpg" class="card-img-top" alt="...">    
                <div class="card-body contenedorcardtexto">
                </div>
        </a>      
        <a href="/articulos" class="card" style="width: 15rem">
            <img src="../../img/MesaModernFurniture.jpg" class="card-img-top" alt="...">    
                <div class="card-body contenedorcardtexto">
                </div>
        </a>      
    </div>
    </div>
</div>

<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" style="display: none"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2" style="display: none"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3" style="display: none"></button>
    </div>

    <div class="nextandprev">
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="saludos1 segundosaludo">
            <div class="saludosclientes saludoizq">
                <p>Unos grandes profesionales, conocen perfectamente los muebles, 100% recomendable.</p>
                <div class="happycustomer">
                    <button class="imgcustomer"><img src="../../img/userAna.PNG" alt="" class="perfilcustomer"></button>
                    <div class="nombrehappycustomer">
                        <h4>Ana L. <br>★★★</h4>
                    </div>
                </div>
            </div>
            <div class="saludosclientes saludoder">
                <p>Tienda con decoración de estilos muy variados, muchas ofertas, stock variado y de precios de todos los rangos. Lo recomiendo!</p>
                <div class="happycustomer">
                    <button class="imgcustomer"><img src="../../img/UserRicardo.PNG" alt="" class="perfilcustomer"></button>
                    <div class="nombrehappycustomer">
                        <h4>Diego G.<br>★★★★</h4>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="carousel-item active">
        <div class="saludos1 segundosaludo">
            <div class="saludosclientes saludoizq">
                <p>Siempre que voy me tratan estupendamente, asi da gusto!. Sin dudas sobre que tienda ir esta es tu elección.</p>
                <div class="happycustomer">
                    <button class="imgcustomer"><img src="../../img/UserMaria.PNG" alt="" class="perfilcustomer"></button>
                    <div class="nombrehappycustomer">
                        <h4>María O. <br>★★★</h4>
                    </div>
                </div>
            </div>
            <div class="saludosclientes saludoder">
                <p>Furniture me sorprendió. La comercial supo captar mis gustos al momento. Gracias por vuestra profesionalidad y servicio.</p>
                <div class="happycustomer">
                    <button class="imgcustomer"><img src="../../img/UserDiego.PNG" alt="" class="perfilcustomer"></button>
                    <div class="nombrehappycustomer">
                        <h4>Ernesto S.<br>★★★</h4>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="carousel-item active">
        <div class="saludos1 primersaludo">
            <div class="titulosaludo">
                <h1>Nuestros clientes</h1>
                <h1>Hablan de nosotros</h1>
                <p>Estos son algunos de nuestros reconocidos clientes que hablan de nuestros servicios y tienda de muebles online.</p>
            </div>
            <div class="saludosclientes saludoder">
                <p>La mejor relación calidad / precio, tienen un rango de muebles que pocas empresas tienen. Lo recomiendo al 100%.</p>
                <div class="happycustomer">
                    <button class="imgcustomer"><img src="../../img/UserRicardo.PNG" alt="" class="perfilcustomer"></button>
                    <div class="nombrehappycustomer">
                        <h4>Jorge M.<br>★★★★</h4>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
   
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</body>