<%- include('head') %>
<div class="terms-favs">
    <h2>Terminos y condiciones</h2>
    <span>“Al utilizar este sitio web, aceptas nuestros Términos y Condiciones de uso. Nos reservamos el derecho
        de
        modificar estos términos en cualquier momento sin previo aviso. Por favor, asegúrate de revisarlos
        regularmente
        para estar al tanto de cualquier cambio.”</span>
</div>
</body>