<%- include('head') %>
<section class="usuarios">
    <a href="/" class="back-favs">
        <i class="bi bi-arrow-left-circle"></i>
        <span>Volver</span>
    </a>
    <div class="containerUsuarios">
        <div class="ct-usuarios-bienvenida">
            <i class="bi bi-person-circle"></i>
            <p class="ct-users-hi">Hola, Lujan Lopez</p>
            <p class="ct-users-msg">Bienvenido a tu cuenta personalizada. Aquí encontrarás todo lo que necesitas para
                disfrutar al máximo de nuestra plataforma.</p>
        </div>
        <div class="ct-usuarios-opciones">
            <div class="ct-user-opcion">
                <p>Guarda tus artículos favoritos en esta sección para acceder rápidamente a ellos en cualquier momento.
                    Desde productos hasta publicaciones interesantes, aquí es donde puedes organizar tus preferencias.
                </p>
                <button><i class="bi bi-suit-heart-fill"></i>
                    <span>Favoritos</span></button>
            </div>
            <div class="ct-user-opcion-linea">
                <div class="linea"></div>
            </div>
            <div class="ct-user-opcion">
                <p>Mis compras, Mantén un registro de todas tus compras anteriores y realiza un seguimiento de los
                    envíos. Revisa tus pedidos, consulta el historial de transacciones y asegúrate de que tus paquetes
                    estén en camino.
                </p>
                <button><i class="bi bi-shop"></i>
                    <span>Mis Compras</span></button>
            </div>
            <div class="ct-user-opcion-linea">
                <div class="linea"></div>
            </div>
            <div class="ct-user-opcion">
                <p>Configuración de la cuenta, Personaliza tu experiencia en nuestra plataforma. Desde la información de
                    tu perfil hasta las preferencias de notificación, aquí es donde puedes ajustar los detalles según
                    tus necesidades.
                </p>
                <button><i class="bi bi-gear-fill"></i><span>Configuración</span></button>
            </div>
        </div>
        <%- include('../partials/terminos') %>
    </div>
</section>
</body>