<div class="container_pasarella">
    <h4>DETALLES DE PAGO</h4>
    <div class="Card_Pago_Container">

        <div class="MedioDePago">
        
            
            <form action="">

                <div class="d-flex gap-3">
                    <div class="d-flex flex-column gap-2">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="Input_DueñoTarjeta" required>
                    </div>
                    <div class="d-flex flex-column gap-2">
                        <label for="apellido">Apellido</label>
                        <input type="text" class="Input_DueñoTarjeta" required>
                    </div>
                </div>

                <div class="d-flex flex-column gap-2">
                    <label for="NumeroTarjeta">Numero de tarjeta</label>
                    <input type="number" class="NumeroTarjeta" required>
                </div>
                    
                <label for="FechaVencimiento">Fecha de vencimiento</label>
                <div class="MesAño align-items-center">
                    <input type="number" required>
                    <span class="Slash">/</span>
                    <input type="number" required>
                </div>
                <div class="CVV">
                    <label for="NumeroCVV">CVV</label>
                    <input type="number" class="NumeroCVV" required>
                </div>
            </form>
            
                
                <div class="Terminos_y_Condiciones_Formulario">
                    <div class="Credito-Debito">
                        <img src="../../../img/Mastercard.PNG" alt="martecard" class="ImagenesTarjetas">
                        <img src="../../../img/Visa.PNG" alt="visa" class="ImagenesTarjetas">
                        <img src="../../../img/MercadoPago.PNG" alt="MercadoPago" class="ImagenesTarjetasMP">
                    </div>
                    <div class="w-50 d-flex flex-column">
                        <p>Al realizar la compra, aceptas los términos y condiciones establecidos.</p>
                        <p>Es importante que revises detenidamente estos términos, ya que contienen informaciónrelevante sobre tu compra, entrega, devoluciones y responsabilidades.    </p>
                        <a href="#">Ver terminos y condiciones</a>
                    </div>
                </div>
            </div>


        <div class="ResumenParaPagar">
            <div>
            <h4>Resumen de compra</h4>
                <div class="ResumenTotal">
                    <div class="articulosAgregados">
                        <p>Cantidad</p>
                        <p>1</p>
                    </div>
                    <div class="articulosAgregados">
                        <p>Articulo</p>
                        <p>Descripcion del articulo</p>
                    </div>
                    <div class="articulosAgregados">
                        <p>Precio</p>
                        <p>$ 00.00</p>
                    </div>
                </div>
            </div>
                
                <div>
                    <div class="TotalApagar">
                        <h4>Total</h4>
                        <p>$ 00.00</p>
                    </div>
                    <hr>
                    <a class="pagar_button" href="#">Pagar</a>
                </div>
        </div>
    </div>
</div>