<body>
    <section class="InfoComprador">
    <h1>Completa los datos para realizar la compra.</h1>
    <div class="DatosComprador">
        <h2>Detalles de contacto</h2>
        <div class="ResumenDatosComprador">
            <form action="">
                <div class="DatosNombreApellido">
                    <div class="DatosNombre">
                        <label for="NombreComprador">Nombre</label>
                        <input type="text" class="NombreComprador" required>
                    </div>
                    <div class="DatosApellido">
                        <label for="ApellidoComprador">Apellido</label>
                        <input type="text" class="ApellidoComprador" required>
                    </div>
                </div>
                <div class="DatosTelefonoCorreo">
                    <div class="DatosTelefono">
                        <label for="NumeroTelefonoComprador">Numero de telefono</label>
                        <input type="number" class="NumeroTelefonoComprador" required>
                    </div>
                    <div class="DatosCorreo">
                        <label for="CorreoComprador">Correo electrónico</label>
                        <input type="text" class="CorreoComprador" required>
                    </div>
                </div>
                <div class="DatosDirreccionCP">
                    <div class="DatosDirreccion">
                        <label for="DireccionComprador">Dirección</label>
                        <input type="text" class="DireccionComprador" required>
                    </div>
                    <div class="DatosCP">
                        <label for="CP">CP</label>
                        <input type="number" class="CP" required>
                    </div>
                </div>
                <hr>
                <button type="submit" class="BotonOkDatosComprador">Continuar</button>
            </form>
            <p>Para agilizar el proceso de compra y garantizar una entrega exitosa, te recomendamos proporcionar tus datos completos y precisos al realizar tu compra.Asegúrate de ingresar tu nombre completo, dirección de envío correcta y un número de teléfono válido</p>
        </div>
    </div>
    </section>
</body>