<%- include('../../partials/head.ejs') %>
<%- include('../../partials/nav.ejs') %>
    <div class="espacio2"></div>
    <div class="login">
        <img src="../../../img/Login.jpg" alt="imagenlogin" class="imagenlogin">
        <div class="logintext">
            <h1 class="TituloInicia">Iniciar Sesion</h1>
            <form action="" method="" class="formlogin">
                <input type="text" class="Usuario" placeholder="    Usuario">
                <input type="password" class="contraseña" placeholder="    Contraseña">
                <button type="submit">Siguiente</button>
            </form>
            <div class="PreRegistrar">
                <h3>¿No eres miembro?</h3>
                <a href="/register">Registrate</a>
            </div>
        </div>
    </div>
</body>
<%- include('../../partials/footer.ejs') %>
