<%- include('../partials/head') %>
<%- include('../partials/nav') %>
<section class="RegistrerOk">       
    <div class="Felicitaciones">
        <button><img src="../../../public/icons/check-lg.svg" alt="" class="checkregister"></button>
        <h1>Felicidades</h1>
        <h2>Has creado exitosamente tu cuenta<br>¡Gracias por registrarte!<br>A continuación inicia sesión</h2>
        <a href="#">Inicia Sesión</a>
    </div>
</section>
</body>
<%- include('../partials/footer') %>