.form_contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 2rem;
}
@media (max-width: 1000px) {
  .form_contacto {
    flex-direction: column;
  }
}
.contactitle{
  color:white;
}
.notaform{
  font-size:10px;
}
.botonform{
  text-align: center;
  margin-left: 25%;
  margin-top: 10%;
  margin-bottom: 10%;
}
.contactcontainerleft{
  background-color:#02012e;
  border-radius: 3rem;
  max-height: 600px;
  max-width: 600px;
  padding: 2rem;
}