.containercontact{
  max-width: 960px;

}

.containerform {
  margin-left:0.1em
}

.contactitle{
  color:white;
  margin-left:1.8rem;
}

.notaform{
  font-size:10px;
}

.botonform{
  text-align: center;
  margin-left: 25%;
  margin-top: 10%;
  margin-bottom: 10%;}


.contactcontainerleft{

  background-color:#02012e;
  border-radius: 3rem;
  height: 30%;


}