.container_pasarella {
    background-color: #81aeb6;
    padding: 2rem;
}
.container_pasarella > h2 {
    color: white;
}

/* CONTAINER CARDS PAGO */
.Card_Pago_Container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #81aeb6;
    height: 80vh;
    gap: 1rem;
    padding: 2rem;
}

/* SECTION FORMULARIO */
.MedioDePago{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    height: 500px;
}
.Input_DueñoTarjeta {
    width: 200px;
}
.NumeroTarjeta {
    width: 250px;
}
.NumeroTarjeta label{
    font-family: 'Public Sans', sans-serif;
    color: grey;
    padding-bottom: 0.2rem;   
}
.VencimientoTarjeta {
    display: flex;
    flex-direction: column;
}
.VencimientoTarjeta>label{
    font-family: 'Public Sans', sans-serif;
    color: grey;
    padding-bottom: 0.2rem;
}
.MesAño > input {
    width: 50px;
}
.MesAño{
    display: flex;
    align-items: center;
    height: 2rem;

}

.CVV{
    display: flex;
    flex-direction: column;
    height: 2rem;
}
.CVV>label{
    font-family: 'Public Sans', sans-serif;
    color: grey;
    margin-top: -0.4rem;
    padding-bottom: 0.2rem;
}
.CVV>input{
    border-radius: 0.3rem;
    border: 0.1rem solid grey;
    width: 25%;
}

.DetalleTarjeta {
    display: flex;
    align-items: center;
}

.Credito-Debito{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.ImagenesTarjetas{
    width: 60px;
    height: 30px;
}
.ImagenesTarjetasMP{
    width: 90px;
    height: 30px;
    padding-left: 0.5rem;
}
.Terminos_y_Condiciones_Formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10px;
}


    /* RESUMEN DE COMPRA */
.ResumenParaPagar{
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    height: 500px;
}
.ResumenTotal{
    display: flex;
}
.ResumenTotal > p {
    font-size: 20px;
}
.articulosAgregados{
    text-align: center;
    margin: 1rem;
}
.TotalApagar{
    display: flex;
    justify-content: space-around;
}
.ResumenParaPagar>a{
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    text-decoration: none;
    background-color:#0057ff;
    border: none;
    border-radius: 0.5rem;
    color: white;
    margin-top: 0.5rem;
}