.Navbar{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2rem;
}
.buscarArticulos {
    background-color: white;
}

.Navbar>h1{
    font-family: 'Public Sans', sans-serif;
    padding-left: 1rem;
}

.navbarmenu>a{
    text-decoration: none;
    padding: 1.5rem;
    font-family: 'Poppins', sans-serif;
    color: black;   
}

.navbaricono>a{
    text-decoration: none;
    padding: 1rem;
    font-size: 1.5rem;
    color: black;
}

.navbaricono{
    display: flex;
}

.v-line{
    border: solid 0.1rem;
}


@media(min-width:766px) and (max-width:1600px) {
    .navbarhamburger{
        display: none;
    }
}
@media(max-width:767px) {
    .navbarmenu{
        display: none;
    }
    .navbaricono{
        display: none;
    }
    .Navbar{
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 0rem;
    }
    .hamburguesa{
        font-size: 1.5rem;
        color: black;
        padding-right: 1rem;
    }
}
