.ModernFurniture>h1{
    text-align: center;
    padding: 1.5rem; 
    font-family: 'Poppins', sans-serif;

}
.ModernFurniture {
    background-color: white;
    padding-bottom: 2rem;
}
.nav-link{
    color: grey;
}

.NavSearchdiv{
    display: flex;
    justify-content: space-between;
}

.link-viewall{
    text-decoration: none;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right:  1rem;
    background-color:  #2f7d32;
    color: white;
}

.contenedorcardtexto{
    display: flex;
    justify-content: space-between;  
}

.contenedorcard{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.contenedorcard>a{
    text-decoration: none;
    filter: brightness(0.8);
    border: none;
}

.contenedorcardtexto>h3{
    font-size: 1rem;
    color: grey;
    font-family: 'Poppins', sans-serif;;
}

.contenedorModernFurniture{
    padding-left: 3rem;
    padding-right: 3rem;
}

.saludos1{
    width: 100vw;
    height: 20rem;
    background-color:  #F7DEF6;
}

.carousel-inner{
    background-color:  #F7DEF6;
    height: 20rem;

}

.titulosaludo{
    padding: 3rem;
    width: 40%;
}

.espaciocarrusel{
    padding-bottom: 2rem;
}

.saludosclientes{
    background-color: white;
    width: 25rem;
    height: 12rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.primersaludo>.saludosclientes{
    margin-right: 5rem;
}

.segundosaludo>.saludosclientes{
    margin-right: 1rem;
}
.saludosclientes>p{
    font-family: 'Poppins', sans-serif;
}

.primersaludo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-left: 1rem;
}

.imgcustomer{
    /* border: solid black 1px;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: none; */
    border: none;
    background-color: white;
} 

.perfilcustomer{
   /*  display: flex;
    justify-content: center; */
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    
}

.happycustomer{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
}

.nombrehappycustomer>h4{
    margin-top: 1rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

.personopinion{
    font-size: 1.5rem;
   
}

.segundosaludo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem; 
}

.carousel-control-next-icon{
    background-color: #2f7d32;
    margin-bottom: 3rem;
    
}
.carousel-control-prev-icon{
   background-color: #2f7d32;
   margin-bottom: 3rem;  
}

@media(min-width:1600px) and (max-width:1000px) {
    .nextandprev{
        margin-bottom: 8rem;
    }

}

@media(min-width:300px) and (max-width:1100px) {
    .saludoder{
        display: none;
    }
    .titulosaludo{
        width: 80%;
        text-align: center;
    }
}


@media(min-width:820px) and (max-width:899px) {
    .saludosclientes{
        width: 24rem;
        height: 10rem;
        padding: 0.7rem;
    }

}

@media(min-width:520px) and (max-width:819px) {
    .saludosclientes{
        width: 21rem;
        height: 11rem;
        padding: 0.6rem;
    }
}

@media(min-width:400px) and (max-width:519px) {
    .saludosclientes{
        width: 21rem;
        height: 11rem;
        padding: 0.6rem;
    }
    .nav-item>a{
        font-size: 0.7rem;
    }
    .link-viewall{
        font-size: 0.7rem;
    }
}

