/* Seccion de Articulos */
body {
    background-color: #EEEEEE;
}
@media (max-width: 800px) {
    .category-container {
      display: none;
      visibility: hidden;
    }
    .parrafo_Precio {
        font-size: 20px;
      }
  }
  .grid__articulos__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    background-color: rgb(238, 238, 238);
  }
  
  @media (max-width: 800px) {
    .grid__articulos__container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  @media (min-width: 800px) {
    .grid__articulos__container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
.articulos-container {
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.card__articulo {
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  min-width: 200px;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.15s ease-in-out;
}
.card__articulo:hover {
    box-shadow: 0 5px 4px rgba(5, 5, 5, 0.404);
}
.card__articulo img {
    max-width: 9rem;
    max-height: 9rem;
    margin-bottom: 2rem;
}
.card__articulo p {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    font-size: 1rem;
  }
.img_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
  min-width: 200px;
}
.parrafo_Precio {
    font-size: 25px;
    font-weight:400;
}

.btn__categoria {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    width: 10rem;
    height: 40px;
    background-color: #198754;
    text-align: center;
    border: none;
}
    .btn__categoria:hover {
        background-color: #135e3a;
    }

.partials__articulos__container {
    display: flex;
    gap: 8rem;
    margin: 2rem 2rem 0 2rem;
    background-color: rgb(238, 238, 238);
}
.btn_card_ver {
    display: flex;
  align-items: center;
  justify-content: center;
    color: #007bff;
    background-color: transparent;
    border-color: #007bff;
    border-width: 1px;
    border-style: solid;
    width: 150px;
    height: 40px;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
  .btn_card_ver:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn_card_carrito {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    border-width: 1px;
    border-style: solid;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    text-decoration: none;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .btn_card_carrito:hover {
    background-color: #2c2d2e;
    border-color: #545b62;
}

.categoria{
    font-size: 20px;
}

footer {
    background-color: #2f7d32;
    color: white;
    padding: 2rem;
}
footer .links__footer {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
footer .footer__copyright {
    background-color: black;
    padding: 1rem;
    text-align: center;
}