<div class="sticky-top">
<aside class="d-flex flex-column justify-content-center gap-2">
    <h3>Categorias</h3>
    <a class="btn__categoria" href="/articulos">Todo</a>
    <a class="btn__categoria" href="/articulos?categoria=Sillon">Sillón</a>
    <a class="btn__categoria" href="/articulos?categoria=Sofa">Sofá</a>
    <a class="btn__categoria" href="/articulos?categoria=Modular">Modular</a>
    <a class="btn__categoria" href="/articulos?categoria=Estanteria">Estantería</a>
    <a class="btn__categoria" href="/articulos?categoria=Organizador">Organizador</a>
    <a class="btn__categoria" href="/articulos?categoria=Mesa ratona">Mesa ratona</a>
    <a class="btn__categoria" href="/articulos?categoria=Escritorio">Escritorio</a>
    <a class="btn__categoria" href="/articulos?categoria=Mesa">Mesa</a>
    <a class="btn__categoria" href="/articulos?categoria=Silla">Silla</a>
    <a class="btn__categoria" href="/articulos?categoria=Mesa de Luz">Mesa de luz</a>
</aside>
</div>
