<%- include('../partials/head') %>
<div class="container">
<aside class="d-flex flex-column justify-content-center gap-2">
    <h3>Categorias</h3>
    <a class="btn btn-dark btn__categoria" href="#">Todo</a>
    <a class="btn btn-dark btn__categoria" href="#">Sillón</a>
    <a class="btn btn-dark btn__categoria" href="#">Sofá</a>
    <a class="btn btn-dark btn__categoria" href="#">Modular</a>
    <a class="btn btn-dark btn__categoria" href="#">Estantería</a>
    <a class="btn btn-dark btn__categoria" href="#">Organizador</a>
    <a class="btn btn-dark btn__categoria" href="#">Mesa ratona</a>
    <a class="btn btn-dark btn__categoria" href="#">Escritorio</a>
    <a class="btn btn-dark btn__categoria" href="#">Mesa</a>
    <a class="btn btn-dark btn__categoria" href="#">Silla</a>
    <a class="btn btn-dark btn__categoria" href="#">Mesa de luz</a>
</aside>
</div>
