<%- include('../../partials/head.ejs') %>
<%- include('../../partials/nav.ejs') %>

<div class="QuienesSomos">
    <div class="rectangulo1"></div>
        <div class="QuienesSomosTitulo">
            <h1>¿Quienes Somos?</h1>
            <h2>Una puerta a la evolución y el futuro del trabajo...</h2>
            <p>Muebles Furniture es una firma de concepto muy actual especialista en la venta y distribución de mobiliario, artículos de decoración y complementos. Disponemos de las exposiciones de mobiliario más extensas y preparadas del mercado.</p>    
        </div>
</div>
<div class="PorqueQuienesSomos">
    <img src="../../img/MublePorqueElegirnos.jpg" class="ImagenQuienSomos">
    <div class="PorqueQuienesSomosTexto">
        <h1>¿Porque elegirnos?</h1>
        <p>Exclusividad, personalidad y buen gusto son los factores que nos diferencian a nosotros y a nuestros clientes.</p>                
        <p>Nos enfocamos en brindar una atención personalizada y de calidad a nuestros clientes. Desde el momento en que visitas nuestra web te ofrecemos nuestra mejor atención y compañia.</p>
    </div>
</div>
<div class="rectangulo2">
    <img src="../../img/Servicios.jpg" alt="" class="ImgServicios">
    <div class="TextoRectangulo2">
        <h1>Nuestros servicios</h1>
        <h2>Una atención al cliente personalizada.</h2>
        <h2>Una trazabilidad al 100% de cada mueble.</h2>
        <h2>Controles de alta calidad realizados por nuestros equipos profesionales.</h2>
        <h2>Elección y disponibilidad de los productos, tenemos existencias de más del 90% de nuestros muebles.</h2>
        <h2>El mejor precio para cada mueble (no hay intermediarios ni tiendas).</h2>
    </div>
</div>

<div class="rectangulo3">
    <img src="../../img/crecer.jpg" alt="" class="ImgCrecerConNosotros">
    <div class="TextoRectangulo3">
        <h1>Vamos por más</h1>
        <p>Furniture surge de la convicción de ser parte de tu hogar, somos una empresa con trayectoria, hemos sido parte de la generación de tus padres, de la tuya y queremos ser parte de la de tus hijos.</p>
    </div>
</div>

<div class="rectangulo5">
    <div class="TextoMision">
        <h1>¿Cuál es nuestra misión?</h1>
        <p>Diseño y calidad al mejor precio.</p>
        <p>Esta es nuestra misión a la hora de desarrollar productos. Nuestros diseñadores tienen el gran desafío de acercarte muebles funcionales, de calidad, con diseños de avanzada, materiales nobles y durables. Además, estamos convencidos que pueden conjugarse estas características con los mejores precios del mercado.</p>
    </div>
    <img src="../../img/mision.jpg" alt="" class="ImagenMision">
</div>
<div class="AtencionCliente">
    <h1>Servicio de Atención al Cliente disponible</h1>
    <div class="Contactenos">
        <img src="../../img/AtencionCliente.jpg" alt="atencion_cliente">
        <div class="NumeroContacto">
            <p>Con el fín de garantizar que el nivel de calidad de nuestros servicios este a la altura de sus expectativas, <br>el servicio cliente de Furniture.com está a su disposición para contestar a sus preguntas.</p>
            <p>Puede contactar el Servicio comercial al: 91 915 46 52 <br>De lunes a viérnes de 9.00 a 19.00. <br>E-mail: Furniture@furniture.es</p>
        </div>
    </div>
</div>
<%- include('../../partials/footer.ejs') %>
</body>