<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="./css/dashboard.css">
</head>

<body>
    <div class="container">
        <%- include('dashboad-lateral.ejs') %>
            <div class="content">

            </div>
    </div>
</body>

</html>