<div class="sidebar">
    <ul>
        <li>
            <h3>Dashboard</h3>
        </li>
        <li><a href="/agregarProductos">Agregar Productos</a></li>
        <li class="logout-button"><a href="/logout">Cerrar Sesión</a></li>
    </ul>
</div>